<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>The Async Inn.</h1>
    </header>
    <nav>
        <a asp-action="../Home/Index">Home</a>
        <a asp-action="../Amenities/Index">Amenities</a>
        <a asp-action="../Hotels/Index">Hotels</a>
        <a asp-action="../Rooms/Index">Rooms</a>

        <a asp-action="../Amenities/Create">Create Amenity</a>
        <a asp-action="../Hotels/Create">Create Hotel</a>
        <a asp-action="../Rooms/Create">Create Room</a>
        <a asp-action="../RoomAmenities/Create">Add amenity to existing room</a>
        <a asp-action="../HotelRooms/Create">Create hotel room</a>
    </nav>
    <main>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </main>
</body>
</html>