@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <form>
            <label for="searchTerm">Search: </label>
            <input name="searchTerm" />
            <input type="submit" />
        </form>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
