body {
}

header {
    background-color: grey;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 20px;
    padding-bottom: 50px;
}

nav a {
    font-family: 'Global Sans Serif';
    display: inline-flex;
    text-align: center;
    margin: 10px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightcyan;
    padding: 5px 10px 5px 10px;
    border-radius: 3px 4px;
}

nav {
    text-align: center;
}

main {
    margin: 10px 15px 30px 10px;
    text-align: center;
}

.row {
    justify-content: center;
    margin: 0 auto;
}
