@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Welcome to The Async Inn.</h1>
        <h2>We hope you enjoy your stay!</h2>
    </header>
    <nav>
        <a asp-action="../Amenities/Index">Back to Amenities Index</a>
        <a asp-action="../Hotels/Index">Back to Hotels Index</a>
        <a asp-action="../Rooms/Index">Back to Rooms Index</a>
        <a asp-action="../Home/Index">Back to Home Index</a>
    </nav>
</body>